.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171C28;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; 
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.menu li {
  display: inline-block;
}

.menuItem {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #3d4965;
}
